[submodule "fitness-dev"]
	path = fitness-dev
	url = git@github.com:nimmsel23/fitness-dev.git
[submodule "fuel-dev"]
	path = fuel-dev
	url = git@github.com:nimmsel23/fuel-dev.git
[submodule "journal-dev"]
	path = journal-dev
	url = git@github.com:nimmsel23/journal-dev.git
[submodule "habits-dev"]
	path = habits-dev
	url = git@github.com:nimmsel23/habits-dev.git
[submodule "learn-dev"]
	path = learn-dev
	url = git@github.com:nimmsel23/learn-dev.git
[submodule "relax-dev"]
	path = relax-dev
	url = git@github.com:nimmsel23/relax-dev.git
